<ion-header *ngIf="showButton" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="showButton" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab vertical="center" horizontal="center" slot="fixed" (click)="scan()">
    <ion-fab-button>
      <ion-icon name="barcode-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
