<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Barcode Scan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [style.visibility]="contentVisibility">
  <ion-card class="ion-text-center">
    <ion-card-content>
      <qrcode [qrdata]="qrString" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="startScan()" expand="block" class="ion-margin">
    <ion-icon slot="start" name="barcode"></ion-icon>
    Scan
  </ion-button>

  <ion-item *ngIf="scannedResult">
    <ion-label class="ion-text-wrap">Scanned Result: {{ scannedResult }}</ion-label>
  </ion-item>
</ion-content>
